<h3>User Summary: <%= link_to @user.username, user_path(@user) %></h3>


<h4>Products</h4>
<%= link_to "Create New Category", new_category_path %>
<%= link_to "Create New Product", new_product_path %>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Categories</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @user.products.each do |product| %>
    <tr>
      <td> <%= image_tag product.photo %> </td>
      <td><%= link_to product.name, product_path %></td>
      <td>
        <% product.categories.each do |category| %>
        <%= link_to category.name, category_products_path(category.id) %><br>
        <% end %>
        <%= form_tag({controller:'products', action: 'add_category'}, method: 'post') do %>
        <%= hidden_field_tag :product_id, product.id %>
        <%= collection_select(:category, :id, Category.all, :id, :name, {prompt: 'Select Category'}, onchange: "this.form.submit();") %>
        <% end %>
        <!-- <%= link_to 'Add new category', add_category_path(product.id, :category => @chosen_category), :method => :post%> -->
      </td>
      <td><%= "#{'%.2f' % product.price}" %></td>
    </tr>
    <% end %>

    <h1></h1>
  </tbody>
</table>

<%= link_to "See all Sellers", users_path, class: "button" %>
<%= link_to "Home Page", root_path, class: "button" %>
