<h2>Your Cart</h2>


<% if @order.product_orders.nil? %>
  <%= "You have no items in your cart!" %>
<% else %>
  <div class="table-scroll">
    <table>
      <thead>
        <tr>
          <th width=350>Name</th>
          <th width=250>Quantity</th>
          <th>Price</th>
          <th>Subtotal</th>
          <th>Remove</th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th>Total</th>
          <td><%= @items %> items</td>
          <td></td>
          <td><%= "$ #{'%.2f' % @sum}" %></td>
          <td></td>
        </tr>
      </tfoot>

      <tbody>
        <% @order.product_orders.each do |item| %>
        <tr>
          <td><%=link_to "#{Product.find_by_id(item.product_id).name}", product_path(item.product_id) %> </td>

          <td>
          <%= form_tag({controller: "orders", action: "update_quantity"}, method: "post") do %>
            <div class="medium-8 columns"><%= number_field_tag :quantity, item.quantity, class: "text-center" %></div>
            <%= hidden_field_tag :item_id, item.id %>
            <%= submit_tag "Update", class: "small button" %>
          <% end %>
          </td>
          <td class="text-right">$ <%= Product.find_by_id(item.product_id).price %> ea.</td>

          <!-- subtotal for the item based on the unit price and quantity -->
          <td class="text-right">$
            <%= "#{'%.2f' % (item.quantity * Product.find_by_id(item.product_id).price)}" %>
          </td>

          <td>
          <%= form_tag({controller: "orders", action: "update_quantity"}, method: "post") do %>
            <%= hidden_field_tag :quantity, 0 %>
            <%= hidden_field_tag :item_id, item.id %>
            <%= submit_tag "Remove", class: "small button" %>
          <% end %>
          </td>
        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
<% end %>

<%= link_to "Continue buying fluff", products_path, class: "button" %>
<%= link_to "Checkout", edit_order_path, class: "button" %>
