<h2>Your Cart</h2>

<table>
  <tbody>
    <% if @order.product_orders.empty? %>
    <%= "You have no items in your cart!" %>
    <% else %>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <% @order.product_orders.each do |item| %>
    <tr>
      <td> <%= Product.find_by_id(item.product_id).name %> </td>
      <td><%= Product.find_by_id(item.product_id).price %> </td>
      <td><%= item.quantity %></td>
      <% end %>
    <% end %>
    </tr>
  </table>
</tbody>

Subtotal: <%= @sum %>

<%= link_to "Continue buying fluff.", products_path %>
