<h2>Your Cart</h2>

<table>
  <tbody>
    <% if @order.product_orders.nil? %>
    <%= "You have no items in your cart!" %>
    <% else %>
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Total</th>
        <td><%= @items %></td>
        <td><%= "$ #{'%.2f' % @sum}" %></td>
      </tr>
    </tfoot>
    <% @order.product_orders.each do |item| %>
    <tr>
      <td><%= Product.find_by_id(item.product_id).name %> </td>

      <td>
      <%= form_tag({controller: "orders", action: "update_quantity"}, method: "post") do %>
        <div class="medium-2 columns"><%= number_field_tag :quantity, item.quantity %></div>
        <%= hidden_field_tag :item_id, item.id %>
        <%= submit_tag "Update", class: "button" %>
      <% end %>
      </td>

      <td><%= Product.find_by_id(item.product_id).price %> </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</tbody>

<%= link_to "Continue buying fluff", products_path, class: "button" %>
<%= link_to "Checkout", edit_order_path, class: "button" %>
