<h1 class="text-center"> What the Fluff </h1>

<section class="text-center">
  <div class="dropdown">
    <h2 class="button-dropdown">Shop by Category</h2>
    <div class="dropdown-content">
      <% @categories.each do |category| %>
        <p><%= link_to "#{category.name}", category_products_path(category.id)%></p>
      <% end %>
    </div>
  </div>

  <div class="dropdown">
    <h2 class="button-dropdown">Shop by Merchant</h2>
    <div class="dropdown-content">
      <% @merchants.each do |merchant| %>
      <% unless merchant.products.empty? %>
        <p><%= link_to "#{merchant.username}", user_products_path(merchant.id)%></p>
      <% end %>
      <% end %>
    </div>
  </div>
</section>


<div class="cardContainer">
  <% @products.each do |product|%>
  <div class="card">
    <% if product.photo.nil? %>
    <%= image_tag url="https://img.memesuper.com/e1974b11dafe9e5c6540ac35912dfd91_funny-memes-no-time-to-explain-funny-pictures-with-no-memes_620-452.jpeg" , alt: "No Product Image" %>
    <% else %>
    <%= image_tag url="#{product.photo}" , alt: "Product Photo" %>
    <% end %>
    <div class="card-section">
      <h4> <%= link_to ("#{product.name}" + " $#{'%.2f' % product.price}"), products_path(product) %></h4>
    </div>
  </div>
  <% end %>
</div>
