<h3>Product Details</h3>

<h4><%= @product.name %></h4>

<div class="product-photo">
  <%= image_tag url="#{@product.photo}" %>
</div>

<section>
  <ul>
    <Price: <%= @product.price %></li>
    <li>Sold by: <%= @product.user.username %></li>
    <li>Status: <%= @product.status %></li>
    <!-- T_T under the assumption that a category belongs to a product -->
    <li>
      Category: <%= @product.categories.each do |category|%>
        <%= link_to category.name, category_path(category.product) %>
      <% end %>
    </li>
  </ul>
</section>

<div>
  <% if @current_user %>
    <p>You own this fluff!</p>
  <% else %>
  <!-- T_T needs real link s-->
    <button>Add to cart</button>
  <% end %>
</div>

<section>
  <h4>Reviews</h4>
  <article>
    <% if @product.reviews == 0 %>
      <p>Unrated fluff. <%= link_to "Be the first to review!", new_review_path %></p>
    <% else %>
      <!-- T_T should we style as comment card or table? -->
      <div class=review>
      <%= @product.reviews.each do |review| %>
        <%= review.updated_at %>
        Rating: <%= review.rating %>
        Decription: <%= review.comment %>
      <% end %>
      </div>
      <%= link_to "Review this fluff.", new_review_path %>
    <% end %>
  </article>
</section>
