<h3>Product Details</h3>

<h4><%= @product.name %></h4>

<div class="product-photo">
  <%= image_tag url="#{@product.photo}" %>
</div>

<section>
  <ul>
    <li>Price: <%= @product.price %></li>
    <li>Sold by: <%= @product.user.username %></li>
    <li>Status: <%= @product.status %></li>
    <!-- T_T under the assumption that a category belongs to a product -->
    <li>
      Category: <% @product.categories.each do |category|%>
      <%= link_to category.name, category_products_path(category.id) %>
      <% end %>
    </li>
  </ul>
</section>

<div>
  <% if @current_user %>
  <p>You own this fluff!</p>
  <% else %>
  <!-- T_T needs real link s-->
  <button>Add to cart</button>
  <% end %>
</div>

<section>
  <h4>Reviews</h4>




  <article>
    <% if @product.reviews == 0 %>
    <p>Unrated fluff. <%= link_to "Be the first to review!", new_review_path %></p>
    <% else %>

<table>
  <tr>
    <th>Rating</th>
    <th>Comment</th>
    <th>Last Update</th>
  </tr>
  <% @product.reviews.each do |review| %>
  <tr>
    <td><%= review.rating %></td>
    <td><%= review.comment %></td>
    <td><%= review.updated_at %></td>
  </tr>
  <%end%>
</table>
<%end%>
</section>


<%= link_to "Review this fluff.", new_product_review_path(@product) %>
