<h1>Add a Review</h1>

<section>
  <%= form_for @review , :url => { :action => "create" } do |f| %>

  <p>
    <%= f.label :rating, 'Rating', class: 'indent' %>
    <div class= "rating">
      1 &#9734;<%= f.radio_button :rating, '1' %>
      2 &#9734;<%= f.radio_button :rating, '2' %>
      3 &#9734;<%= f.radio_button :rating, '3' %>
      4 &#9734;<%= f.radio_button :rating, '4' %>
      5 &#9734;<%= f.radio_button :rating, '5' %>
    </div>
  </p>


    <!-- <div>
      <%= f.label :rating, class: "label" %>
      <%= f.text_field :rating, class: "field"%>
    </div> -->

    <div>
      <%= f.label :comment, class: "label"%>
      <%= f.text_area :comment, class: "field"%>
    </div>

    <div id = "_form_section_submit">
      <%= f.submit value: "SAVE"%>
    </div>
  <% end %>
</section>
