<header>
<nav>

  <h1><%= link_to 'Motherfluffer, You fluffing fluffer', root_path %></h1>
  <!-- <h2> You fuffing fuffer</h2> -->

    <%= link_to "Products", products_path %>

    <%= link_to "Sellers", users_path %>


  </div>


        <section>
          <% if @current_user %>
          Fuffed in as <%= link_to "#{@current_user.username}", user_path(session[:user_id])%>
          <%= link_to "Logout", logout_path, method: :logout%>
          <%else%>
          Not Fuffed in
          <%= link_to "Login", login_path%>
          <%end%>
        </section>

</nav>
</header>
